{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 *
 * @ingroup templates
 */
#}
{{ attach_library('laoyc2016/angularjs-scripts') }}
{% block content %}
  <script>
    var resourceGuideJSON = "{{ json_encode_location_view(content) }}"; {# Pass JSON data to AngularJS controller #}
  </script>
{% endblock %}
<section{{ attributes.addClass('block', 'clearfix', 'resource-guide-list') }} ng-app="myApp" ng-controller="myCtrl">
  <div class="row">
    <div class="col-sm-12">
      {{ title_prefix }}
      {% if label %}
        <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}
    </div>
  </div>

  {% verbatim %}
  <div class="row">
    <div class="col-sm-12">

      <div ng-repeat="x in resourceGuideData" class="location">
        <uib-accordion close-others="false">
          <uib-accordion-group>

            <uib-accordion-heading>
              {{ x.title }}
            </uib-accordion-heading>

            <div ng-show="x.field_category" class="category-container">
              <i class="fa fa-star" title="Category"></i>
              <span class="hidden-xs">Category:</span>
              <ul>
                <li ng-repeat="cat in x.field_category">
                  {{ cat.title }}
                </li>
              </ul>
            </div>
            <div ng-show="x.field_tags" class="search-keywords-container">
              <i class="fa fa-tags" title="Search Keywords"></i>
              <span class="hidden-xs">Search Keywords:</span>
              <ul>
                <li ng-repeat="sk in x.field_tags">{{ sk.title }}</li>
              </ul>
            </div>
            <div ng-show="x.field_location_address" class="location-address-container">
              <i class="fa fa-car" title="Address"></i>
              <span class="hidden-xs">Address:</span>
              <span ng-bind-html="x.field_location_address"></span>
              <span>{{ x.field_location_zip }}</span>
              <span>{{ x.field_room_number }}</span>
            </div>
            <div ng-show="x.field_location_url" class="location-url-container">
              <i class="fa fa-home" title="Url"></i>
              <span class="hidden-xs">URL:</span>
              <a href="{{ x.field_location_url }}">{{ x.field_location_url }}</a>
            </div>
            <div ng-show="x.field_location_phone" class="location-phone-container">
              <i class="fa fa-phone" title="Phone"></i>
              <span class="hidden-xs">Phone:</span>
              <span ng-bind-html="x.field_location_phone"></span>
            </div>
            <div ng-show="x.field_location_hours" class="location-hours-container">
              <i class="fa fa-clock-o" title="Hours"></i>
              <span class="hidden-xs">Hours:</span>
              <span ng-bind-html="x.field_location_hours"></span>
            </div>
            <div ng-show="x.field_services" class="services-container">
              <span ng-bind-html="x.field_services"></span>
            </div>
            <div ng-show="x.field_services_contact" class="services-contact-container">
              <div>Services contact:</div>
              <div ng-bind-html="x.field_services_contact"></div>
            </div>
            <div ng-show="x.field_eligibility" class="eligibility-container">
              <div>Eligibility:</div>
              <div ng-bind-html="x.field_eligibility"></div>
            </div>
            <div ng-show="x.field_how_best_to_access" class="how-best-to-access-container">
              <div>How best to access:</div>
              <div ng-bind-html="x.field_how_best_to_access"></div>
            </div>
            <div ng-show="x.field_organization" class="organization-container">
              <i class="fa fa-university" title="Organization"></i>
              <span class="hidden-xs">Organization:</span>
              <ul>
                <li ng-repeat="org in x.field_organization">
                  <a href="{{ org.url }}">{{ org.title }}</a>
                </li>
              </ul>
            </div>

          </uib-accordion-group>
        </uib-accordion>
      </div>

    </div><!-- grid column -->
  </div><!-- row -->
  {% endverbatim %}

</section>

